@import 'tailwindcss';


@plugin "daisyui" {
  themes:
  light --default,
  dark --prefers-dark,
  cupcake;

  @theme {
    --font-heading: 'Roboto', sans-serif;
    --font-display: 'Nunito', sans-serif;
    --leading-full: 100%;
    --leading-plus: 140%;
  }
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(0.19 0 0);
  --color-base-200: oklch(0 0 0);
  --color-base-300: oklab(0.31 0 0);
  --color-base-content: oklch(1 0 0);
  --color-primary: oklch(59% 0.249 0.584);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(51% 0.096 186.391);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(0.97 0 0);
  --color-base-200: oklch(1 0 0);
  --color-base-300: oklab(0.85 0 0);
  --color-base-content: oklch(0.1 0 0);
  --color-primary: oklch(59% 0.249 0.584);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(77% 0.152 181.912);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer base {
  html {
    @apply font-display font-medium text-base leading-full;
    font-optical-sizing: auto;
  }

  body {
    @apply bg-base-200 min-h-screen transition-colors ease-linear duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-semibold leading-plus;
    font-optical-sizing: auto;
    font-variation-settings: 'wdth' 100;
  }

  h1 {
    @apply text-5xl md:text-6xl;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  h3 {
    @apply text-3xl md:text-4xl;
  }

  h4 {
    @apply text-2xl md:text-3xl;
  }

  h5 {
    @apply text-xl md:text-2xl;
  }

  h6 {
    @apply text-lg md:text-xl;
  }

  a {
    @apply hover:brightness-150 dark:hover:brightness-50 hover:opacity-40 transition-all duration-300;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@utility alert {
  @apply bg-base-200 border border-base-content;
}

@utility alert-error {
  @apply bg-base-200! border! border-error!;
}

@utility wrapper {
  @apply min-h-screen flex flex-col justify-between p-4;

  nav,
  footer {
    @apply px-6 w-full flex justify-between items-center z-50;

    .copyright {
      @apply text-sm text-neutral-500 mx-auto;
    }

    .socials {
      @apply flex items-center gap-4;
    }
  }

  main {
    @apply relative w-fit h-full my-auto mx-auto flex flex-col justify-center items-center gap-16 lg:z-50;
  }
}

@utility btn {
  @apply bg-base-300;
}

@utility side-drawer {
  .btn-drawer {
    @apply px-0 py-2 swap swap-rotate rounded-full z-50 cursor-pointer;
  }

  .drawer-content {
    @apply flex justify-end;
  }

  .drawer-overlay {
    @apply backdrop-blur-xs bg-base-200/50 lg:hidden;
  }

  .menu {
    @apply z-40 gap-4 bg-base-200 border-l border-base-300 text-base-content min-h-full w-full md:w-80 p-4 pt-20 overflow-y-auto;

    .collapse {
      @apply bg-base-200 border border-base-300;

      .collapse-title {
        @apply font-bold text-lg! flex items-center gap-4;
      }
    }

    h2 {
      @apply text-sm mb-2;
    }
  }

}

@layer components {
}
