@import 'tailwindcss';

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefers-dark,
    cupcake;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(0 0 0);
  --color-base-200: oklch(0.165 0 0);
  --color-base-300: oklch(0.21 0 0);
  --color-base-content: oklch(1 0 0);
  --color-primary: oklch(59% 0.249 0.584);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(51% 0.096 186.391);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(0.965 0 0);
  --color-base-200: oklch(1 0 0);
  --color-base-300: oklch(0.93 0 0);
  --color-base-content: oklch(0 0 0);
  --color-primary: oklch(59% 0.249 0.584);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(77% 0.152 181.912);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
